{{define "Content"}}
<div id="background">
	<div class="background-actual"></div>
</div>
<div id="content">
  {{ range .ApiSummary.GroupIds }}
	{{ $Group := index $.GroupsMap .}}
	{{ $FullGroup := index $.FullGroupsMap .}}
		<section class="row first" id="{{$Group.Name}}">
			{{if $FullGroup}}
				<div class="row-full">
						<div class="col-left">
							<h1>{{$Group.Name}}</h1>
							<div class="description">{{html $FullGroup.DescriptionHTML}}</div>
						</div>
						<div class="col-right"></div>
				</div>
			{{else}}
				<div class="row-full">
						<div class="col-left">
							<h1>{{$Group.Name}}</h1>
						</div>
						<div class="col-right"></div>
				</div>
			{{end}}
		</section>
		{{ if gt (len $Group.Endpoints) 0 }}
			{{ range $Group.Endpoints }}
			{{ $Endpoint := index $.EndpointsMap .}}
			{{ $FullEndpoint := index $.FullEndpointsMap .}}
				<section class="row" id="{{$Endpoint.Name}}">
					{{if $FullEndpoint}}
						<div class="row-full">
							<div class="col-left">
								<h1>{{$FullEndpoint.Name}}</h1>
								<div class="description">{{html $FullEndpoint.DescriptionHTML}}</div>
								{{ if gt (len $FullEndpoint.UrlParameters) 0 }}
									<div>
										<h5>Url Parameters</h5>
										{{ range $FullEndpoint.UrlParameters }}
											<div>{{ .Name }}</div>
											<div>{{ html .DescriptionHTML }}</div>
										{{ end }}
									</div>
								{{ end }}
								{{ if gt (len $FullEndpoint.QueryParameters) 0 }}
									<div>
										<h5>Query Parameters</h5>
										{{ range $FullEndpoint.QueryParameters }}
											<div>{{ .Name }}</div>
											<div>{{ html .DescriptionHTML }}</div>
										{{ end }}
									</div>
								{{ end }}
							</div>
							<div class="col-right">
								<div>
									<div>Example Request</div>
									<div>{{$FullEndpoint.Url}}</div>	
								</div>
								{{ if gt (len $FullEndpoint.RequestHeaders) 0 }}
									<div>
										<h5>Request Headers</h5>
										{{ range $FullEndpoint.RequestHeaders }}
											<div>Key : {{ .Name }}</div>
											<div>Value : {{ .Value }}</div>
										{{ end }}
									</div>
								{{ end }}
								<div>
									<div>Example Request Body</div>
									<div>{{$FullEndpoint.RequestBody}}</div>	
								</div>
								{{ if gt (len $FullEndpoint.ResponseHeaders) 0 }}
									<div>
										<h5>Response Headers</h5>
										{{ range $FullEndpoint.ResponseHeaders }}
											<div>Key: {{ .Name }}</div>
											<div>Value: {{ .Value }}</div>
										{{ end }}
									</div>
								{{ end }}
								{{ if $FullEndpoint.ResponseBody }}
									<div>
										<div>Example Response Body</div>
										<div>{{$FullEndpoint.ResponseBody}}</div>	
									</div>
								{{ end }}
							</div>
						</div>
					{{else}}
						<div class="row-full">
							<div class="col-left">
								<h1>{{$Endpoint.Name}}</h1>
							</div>
							<div class="col-right"></div>
						</div>
					{{end}}
				</section>
			{{ end }}
		{{end}}
	{{end}}
</div>
{{end}}