{{define "Sidebar"}}
<div id="sidebar">
	{{ $style := $.Revision.CustomStyle }}
	<div class="header-3-col">
		<a href="{{$style.BrandImageLink}}" style="padding: 20px; display: block; color: inherit;">
			{{ if gt (len $style.BrandImageUrl) 0 }}
				<img class="logo" width="50px" src="{{$style.BrandImageUrl}}" />
			{{ end }}
			<div style="color: inherit; font-weight: 600">Api Reference</div>
		</a>
		<span id="select-nav">
			<select class="group-select">
				{{ range .ApiSummary.GroupIds }}
					{{ $Group := index $.GroupsMap .}}
					<option value="#{{$Group.Slug}}">{{$Group.Name}}</option>
				{{ end }}
			</select>
		</span>
	</div>
  <nav role="navigation" class="sidebar-nav">
    <ul class="group">
    	<a class="sidebar-nav-item group" href="#api-reference">Api Reference</a>
    </ul>
		{{ range .ApiSummary.GroupIds }}
		{{ $Group := index $.GroupsMap .}}
			<ul class="group">
				{{ if eq (len $Group.Endpoints) 0 }}
					<a class="sidebar-nav-item group" href="#{{$Group.Slug}}">{{$Group.Name}}</a>
				{{ else }}
					<a class="sidebar-nav-item group expandable" href="#{{$Group.Slug}}">{{$Group.Name}}</a>
					<ul>
						{{ range $Group.Endpoints }}
						{{ $Endpoint := index $.EndpointsMap .}}
						<a class="sidebar-nav-item subgroup" href="#{{$Group.Slug}}_{{$Endpoint.Slug}}">{{$Endpoint.Name}}</a>
						{{ end }}
					</ul>
				{{ end }}
			</ul>
		{{ end }}
  </nav>
  {{ template "Tryout" }}
</div>
{{end}}