{{define "Sidebar"}}
<div id="sidebar">
  <nav role="navigation" class="sidebar-nav">
    <ul>
    </ul>
		{{ range .ApiSummary.GroupIds }}
		{{ $Group := index $.GroupsMap .}}
			<ul class="group">
				{{ if eq (len $Group.Endpoints) 0 }}
					<a class="sidebar-nav-item group" href="#{{$Group.Slug}}">{{$Group.Name}}</a>
				{{ else }}
					<a class="sidebar-nav-item group expandable" href="#{{$Group.Slug}}">{{$Group.Name}}</a>
					<ul>
						{{ range $Group.Endpoints }}
						{{ $Endpoint := index $.EndpointsMap .}}
						<a class="sidebar-nav-item subgroup" href="#{{$Group.Slug}}_{{$Endpoint.Slug}}">{{$Endpoint.Name}}</a>
						{{ end }}
					</ul>
				{{ end }}
			</ul>
		{{ end }}
  </nav>
  {{ template "Tryout" }}
</div>
{{end}}