{{define "Tryout"}}
<div id="try-out">
	<div>
	<button type="button" class="close-try-out">Go Back</button>
	</div>
	<form id="try-http-meta">
		<select name="method">
			<option value="GET">GET</option>
			<option value="POST">POST</option>
			<option value="PUT">PUT</option>
			<option value="HEAD">HEAD</option>
			<option value="DELETE">DELETE</option>
		</select>
		<input name="url" type="text" placeholder="type url here"></input>
		<button type="button" class="try-out-send">send</button>
	</form>
	<form id="try-request-data">
		<div class="tab headers">
			<div class="tab-menu">
				<div data-header="headers" class="tab-menu-item selected">Headers</div>
				<div data-header="parameters" class="tab-menu-item">Parameters</div>
				<div data-header="body" class="tab-menu-item">Body</div>
			</div>
			<div class="tabs">
				<div class="headers-tab">
					<div class="input-row">
						<input type="text" class="key" name="h-key" placeholder="key"></input>
						<input type="text" class="value" name="h-value" placeholder="value"></input>
						<button type="button" data-template="header-row-template" data-parent="headers-tab" class="headers add-row">Add</button>
					</div>
				</div>
				<div class="parameters-tab">
					<div class="input-row">
						<input type="text" class="key" name="p-key" placeholder="key"></input>
						<input type="text" class="value" name="p-value" placeholder="value"></input>
						<button type="button" data-template="parameter-row-template" data-parent="parameters-tab" class="add-row">Add</button>
					</div>
				</div>
				<div class="body-tab">
					<textarea name="req-body" placeholder="Type request body here..."></textarea>
				</div>
			</div>
		</div>
	</form>
	<form id="try-response-data">
		<h5>Response</h5>
		<div class="response-body">
			<textarea name="res-body"></textarea>
		</div>
	</form>
	<div id="header-row-template" style="display: none;">
		<div class="input-row">
			<input type="text" class="key" name="h-key" placeholder="key"></input>
			<input type="text" class="value" name="h-value" placeholder="value"></input>
			<button type="button" data-template="header-row-template" data-parent="headers-tab" class="add-row">Add</button>
			<button type="button" data-template="header-row-template" data-parent="headers-tab" class="del-row">Del</button>
		</div>
	</div>
	<div id="parameter-row-template" style="display: none;">
		<div class="input-row">
			<input type="text" class="key" name="p-key" placeholder="key"></input>
			<input type="text" class="value" name="p-value" placeholder="value"></input>
			<button type="button" data-template="parameter-row-template" data-parent="parameters-tab" class="add-row">Add</button>
			<button type="button" data-template="parameter-row-template" data-parent="parameters-tab" class="del-row">Del</button>
		</div>
	</div>
</div>
{{end}}