{{define "Tryout"}}
<div id="try-out">
	<div>
	<button type="button" class="close-try-out"><<  Go Back</button>
	</div>
	<form id="try-http-meta">
		<select name="method">
			<option value="GET">GET</option>
			<option value="POST">POST</option>
			<option value="PUT">PUT</option>
			<option value="HEAD">HEAD</option>
			<option value="DELETE">DELETE</option>
		</select>
		<input name="url" type="text" placeholder="type url here"></input>
		<button type="button" class="try-out-send">send</button>
	</form>
	<form id="try-request-data">
		<div class="tab headers">
			<div class="tab-menu">
				<div data-header="headers" class="tab-menu-item selected">Headers</div>
				<div data-header="body" class="tab-menu-item">Body</div>
			</div>
			<div class="tabs">
				<div class="headers-tab">
					<div class="input-row">
						<input type="text" class="key" name="key" placeholder="key"></input>
						<input type="text" class="value" name="value" placeholder="value"></input>
						<button type="button" class="add-row">Add</button>
					</div>
				</div>
				<div class="body-tab">
					<textarea name="req-body" placeholder="Request body"></textarea>
				</div>
			</div>
		</div>
	</form>
	<form id="try-response-data">
		<div class="response-body">
		</div>
	</form>
	<div id="row-template" style="display: none;">
		<div class="input-row">
			<input type="text" class="key" name="key" placeholder="key"></input>
			<input type="text" class="value" name="value" placeholder="value"></input>
			<button type="button" class="add-row">Add</button>
			<button type="button" class="del-row">Del</button>
		</div>
	</div>
</div>
{{end}}