@import "../../variables";
.api-editor {
	position: relative;
	.fixed-wrapper {
		position: fixed;
    top: 126px;
    left: 0;
    right: 0;
    bottom: 0;
	}
	.left, .right {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		box-sizing: border-box;
	}
	.left {
		width: 25%;
		overflow: auto;
    box-sizing: border-box;
    //border-right: 1px solid @color-border;
    border-left: 1px solid @color-border;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-weight: 400;
    //background: #f4f7f8;
		button {
			text-align: left;
			background: none;
			display: block;
	    border: none;
	    cursor: pointer;
	    padding: 4px 0;
	    white-space: nowrap;
		}
	}
	.right {
		padding-left: 25%;
	}
}

.api-summary .selected {
	//text-decoration: underline;
	font-weight: 600;
	color: @color-primary;
}

.add-actions {
	// border-bottom: 1px solid @color-border;
	padding: 10px 30px;
	button.selected {
		font-weight: 700;
		color: @color-primary;
	}
}

.forms-placeholder {
	padding-left: 24px;
	padding-top: 0px;
	position: relative;
}

.form-header-loader {
	> div {
		display: inline-block;
	}
}

.loader {
  font-size: 24px;
  color: #3853D8;
  position: relative;
  margin-left: 12px;
  top: 5px;
}

.api-summary {
	.name {
		text-tranform: capitalize;
	}
	.method {
		text-decoration: none !important;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    padding: 0px 2px;
    margin-right: 4px;
    vertical-align: middle;
    &.POST {
    	background: @color-warning;
    }
    &.GET {
    	background: @color-success;
    }
    &.PUT {
    	background: @color-danger;
    }
    &.DELETE {
    	background: brown;
    }
    &.schema {
    	background: @color-rose;
    }
    &.textdocument {
    	background: @color-purple;
    }
	}
}

.editor-preview {
	strong {
  font-weight: 600;
	}
	em {
	  font-style: italic;
	}

	blockquote {
	  padding: 0 1rem;
	  margin-left: 0;
	  color: #819198;
	  border-left: 0.3rem solid #dce6f0;
	  background: #fafafa;
	}

	code {
	  padding: 2px 4px;
	  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	  font-size: 0.9rem;
	  color: #383e41;
	  background-color: #f3f6fa;
	  border-radius: 0.3rem;
	}
	li {
		list-style-type: inherit;
	}
	ul {
	  list-style-type: disc;
	  padding-left: 20px;
	}
	ol {
	  list-style-type: decimal;
	  padding-left: 20px;
	}	
}


.overview-revisions {
	padding: 30px 0;
}

.danger {
	padding: 10px 0;
	text-decoration: underline;
	color: @color-danger;
	border-radius: 3px;
	margin-bottom: 10px;
}

.success {
	padding: 10px 0;
	color: #2A942D;
	margin-bottom: 10px;
}

