.api-summary, .forms-placeholder {
	vertical-align: top;
	display: inline-block;
	width: 70%;
}

.api-summary {
	width: 30%;
}

.loader {
  position: relative;
  height: 1px;
  width: 1px;
  z-index: 100;
}

.loader-bubble {
	position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.loader-bubble-1 {
	background-color: rgba(60, 175, 218, 0.15);
  -webkit-animation: lb1-pulse 1s infinite ease-in-out;
  animation: lb1-pulse 1s infinite ease-in-out;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.loader-bubble-2 {
	background-color: rgba(60, 175, 218, 0.15);
  -webkit-animation: lb2-pulse 1s infinite ease-in-out;
  animation: lb2-pulse 1s infinite ease-in-out;
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
}

.loader-bubble-3 {
	background-color: #3CAFDA;
  -webkit-animation: lb3-pulse 1s infinite ease-in-out;
  animation: lb3-pulse 1s infinite ease-in-out;
}

@keyframes lb2-pulse {
	0%, 100% {
	  -webkit-transform: translate(-50%, -50%) scale(1.75);
	  transform: translate(-50%, -50%) scale(1.75);
	}
	50% {
	  -webkit-transform: translate(-50%, -50%) scale(1.25);
	  transform: translate(-50%, -50%) scale(1.25);
	}
}
@keyframes lb1-pulse {
	0%, 100% {
	  -webkit-transform: translate(-50%, -50%) scale(2.5);
	  transform: translate(-50%, -50%) scale(2.5);
	}
	50% {
	  -webkit-transform: translate(-50%, -50%) scale(1.5);
	  transform: translate(-50%, -50%) scale(1.5);
	}
}

@keyframes lb3-pulse {
	0%, 100% {
	  -webkit-transform: translate(-50%, -50%) scale(1);
	  transform: translate(-50%, -50%) scale(1);
	}
	50% {
	  -webkit-transform: translate(-50%, -50%) scale(0.75);
	  transform: translate(-50%, -50%) scale(0.75);
	}
}
