@import "../../variables";

.tab-group {
	border-bottom: 1px solid @color-border;
}

.tab{
	display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.selected.tab {
	border-bottom: 2px solid @color-primary;
	color: @color-primary;
	font-weight: 600;
}   
    
.denied {
	padding: 60px 0;
}

.api-actions {
  font-size: 15px;
  position: absolute;
  top: 6px;
  right: 34px;
  button {
  	cursor: pointer;
    background: white;
    border: 0;
    margin-left: 10px;
    padding: 5px 35px;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: 0 0 1px 1px #CCC;
  }
  .btn-publish {
  	color: white;
  	border: 0;
  	background: @color-primary;
	}
}