@import "../../variables";

.tab-group {
	border-bottom: 1px solid @color-border;
}

.tab{
	display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.selected.tab {
	border-bottom: 2px solid @color-blue;
	color: @color-blue;
	font-weight: 600;
}   
    