@import "variables";
@import "mixins";


body {
  font-family: @font-family;
  .font-normal();
}

hr {
  height: 1px;
  background-color: @color-border;
  border: none;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
}
