@gray-base: #000;
@gray-darker: #222;
@gray-dark: #333;
@gray: #555;
@gray-light: #777;
@gray-lighter: #eee;

//@color-primary: #4D7CEA;
// @color-primary: #3853D8;
@color-primary: #1B1F28;
@color-success: #5CB328;
@color-info: #FFB407;
@color-warning: #FFB400;
@color-danger: #E7352B;
@color-border: #EEEEEE;//#CCC
@color-rose: #C52563;
@color-purple: #8161A7;

@body-bg: #fff;
//@text-color: #3F3F44;//@gray-dark
@text-color: #232323;

@link-color: @color-primary;
@link-hover-color: @color-primary; //15% darker
@link-hover-decoration: underline;

@font-family-base: 'Open Sans';
@font-family-base: 'Montserrat', sans-serif;
@font-size-base: 14px;
@font-size-large: 15px;
@font-size-small: 12px;

@font-size-h1: 36px;
@font-size-h2: 30px;
@font-size-h3: 24px;
@font-size-h4: 18px;
@font-size-h5: @font-size-base;
@font-size-h6: 12px;

@line-height-base: 1.4


@heading-font-weight: 600;

@border-radius: 3px;

@padding-base-vertical: 6px;
@padding-base-horizontal: 10px;

@btn-font-weight: 300;

@btn-default-color: #333;
@btn-default-bg: #fff;
@btn-default-border: #ccc;

@input-bg: @gray-lighter; //#fff;
@input-bg-disabled: @gray-lighter;
@input-color: @gray;
@input-border: #ccc;
@input-border-focus: #66afe9;
@input-color-placeholder: #999;
